Module 4: Task 5,
Jordan Wheeler,
5 February 2023

# Reformatting Data, pg.310

In [2]:
contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
            ['Sue Brown', 'demo2@deitel.com', '5555551234']]

In [6]:
# Create DataFrame
import pandas as pd

contactsdf = pd.DataFrame(contacts, columns = ['Name', 'Email', 'Phone'])
contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [7]:
# Create a function that uses regular expressions

import re

def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [8]:
# Format Number Using Map

formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object

In [9]:
# Updated Contacts Card

contactsdf['Phone'] = formatted_phone

contactsdf

         Name             Email         Phone
0  Mike Green  demo1@deitel.com  555-555-5555
1   Sue Brown  demo2@deitel.com  555-555-1234